flask==3.0.3
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
joblib==1.4.2

streamlit==1.32.0
streamlit-folium==0.20.0
folium==0.16.0

xgboost==2.0.3
altair==5.2.0

requests==2.31.0
gunicorn==22.0.0
pillow==10.4.0